.employees-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0px;
  grid-column: 0px;
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (max-width: 1220px) {
  .employees-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1070px) {
  .employees-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 710px) {
  .employees-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
